* {
    box-sizing: border-box;
    font-family: roboto,sans-serif;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
input[type='submit'] {
    border: none;
    background-color: #00f2fe;
    border-radius: 5px;
    margin-left: 10px;
}

form.aanmaken {
    background: white;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
}

div.verwijderen {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
}

form.aanmaken a {
    text-decoration: none;
    font-family: roboto, sans-serif;
}