body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
input[type='button'] {
    border: none;
    background-color: #00f2fe;
    border-radius: 5px;
    margin-left: 10px;
}