* {
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
}

form {
    font-family: Arial;
}

input {
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5%;
    background-color: darkgray;
}

label {
    font-weight: bold;
}

label.niet_verplicht {
    color: red;
}
