div.footerboerenbusiness i {
    color: white;
    background-color: #3da0d5;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    margin-top: 5px;
}
div.footeruienhandel i {
    margin-left: 10px;
    color: white;
    background-color: #950057;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    margin-top: 5px;
}
div.socialicons i {
    background-color: white;
    color: #e3e3e3;
    display: inline;
    margin-left: 10px;
}
i {
    color: darkgray;
    margin-top: 10px;
}





